/* vehiculoMenu.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background: linear-gradient( #0f2027); 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
    
}

.container {
  background-color: #ffffff10;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  width: 90%;
  max-width: 500px;
}

h1 {
  text-align: center;
  color: #ece4e4;
  margin-bottom: 30px;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #ece4e4;}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

button.Registrar {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background-color: #083f79;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.Registrar:hover {
  background-color: #0056b3;
}


.volver {
  text-decoration: none;
  background-color: #f0f0f0;
  color: #1e3c72;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.volver:hover {
  background-color: #56a3e2;
  transform: scale(1.05);
}

